* {
    margin: 0;
}


.chunk1 {
    background-color: #1F2937;
    padding: 0 200px 200px 200px;
}

.header {
    display: flex;
    justify-content: space-between;
}

ul {
    list-style-type: none;
    display: flex;
    font-size: 18px;
    color: #ESE7EB;
}

.logo {
    width: 50px;
    height: auto;
    border: 5px solid #f03907b8;
    border-radius: 50%;
}
