* {
    margin: 0;
    font-family: Roboto, Arial, Helvetica, sans-serif;
}


.chunk1 {
    background-color: #1F2937;
    padding: 0 200px 200px 200px;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    align-items: center;
    margin-bottom: 50px;
}

ul {
    list-style-type: none;
    display: flex;
    font-size: 18px;
    gap: 25px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

.logo.image {
    width: 50px;
    height: auto;
    border: 5px solid #3b5149b8;
    border-radius: 50%;
}

.hero {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    max-width: 480px;
}

.main.image {
    width: 450px;
    height: auto;
    border: 5px solid #3b5149b8;
    border-radius: 10px;
}

.chunk1content {
    display: flex;
    justify-content: space-between;
}

.welcome.message {
    font-size: 18px;
    color: #E5E7EB;
    max-width: 500px;;
}

.inleft {
    display: flex;
    flex-flow: column nowrap;
    gap: 20px;
}

.chunk1button {
    font-size: 18px;
    background-color: #3882F6;
    color: #F9FAF8;
    font-weight: bold;
    width: 150px;
    border-radius: 10px;
    padding: 10px;
}

.chunk2 {
    text-align: center;
    padding: 45px 300px 150px 300px;
}

.title.ofbirds {
    color: #1F2937;
    font-weight: 900;
    font-size: 36px;    
    margin-bottom: 45px;
}

.info {
    max-width: 200px;   
}

.bird.image {
    width: 200px;
    height: 200px;
    border: 5px solid #3882F6;
    border-radius: 10px;;
}

.birds {
    display: flex;
    gap: 70px;
    justify-content: center;
}

.bird.info {
    font-size: 18px;
    color:#1F2937;
}

.info {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.chunk3 {
    padding: 180px 280px;
    background-color:#E5E7EB;
}

.quote {
    font-size: 36px;
    font-style:italic;
    color: #1F2937;
    text-align: center;
}

.quoter {
    font-size: 20px;
    color:#1F2937;
    font-weight: 900;
    width: 400px;
    margin-left: auto;
}

.chunk4 {
    padding: 180px 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bluebox {
    background-color: #3882F6;
    border-radius: 10px;
    padding: 50px 100px;
    display: flex;
    gap: 150px;
}

.calltoaction {
    font-weight: bold;
    color:#F9FAF8;
    font-size: 24px;

}

.persuasion {
    font-size: 18px;
    color:#E5E7EB;
}

.chunk4button {
    background-color:#3882F6;
    font-weight: bold;
    font-size: 20px;
    width: 180px;
    color:#F9FAF8;
    border: 2px solid #F9FAF8;
    border-radius: 15px;
    padding: 10px;
}
