* {
    margin: 0;
    font-family: Roboto, Arial, Helvetica, sans-serif;
}


.chunk1 {
    background-color: #1F2937;
    padding: 0 300px 300px 300px;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    align-items: center;
    margin-bottom: 50px;
}

ul {
    list-style-type: none;
    display: flex;
    font-size: 18px;
    gap: 25px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

.logo.image {
    width: 50px;
    height: auto;
    border: 5px solid #3b5149b8;
    border-radius: 50%;
}

.hero {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    max-width: 480px;
}

.main.image {
    width: 400px;
    height: auto;
    border: 5px solid #3b5149b8;
    border-radius: 10px;
}

.chunk1content {
    display: flex;
    gap: 50px;
}

.welcome.message {
    font-size: 18px;
    color: #E5E7EB;
}

.inleft {
    display: flex;
    flex-flow: column nowrap;
    gap: 10px;
}

.chunk1button {
    font-size: 18px;
    background-color: #3882F6;
    color: #F9FAF8;
    font-weight: bold;
    width: 150px;
    border-radius: 10px;
    padding: 8px;
}
